*{
    margin:0px;
}
body{
    background-color:#f1f3f6;
    overflow-y:scroll;
    
    
    }
a{
    text-decoration:none;
    color:#282C3F;
    font-weight:500;
    font-size:14px;
    font-family: Assistant,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
}
.navbaritems{
    display:flex;
    
    align-items:center;
}
.navbar{
height:80px;
background-color:#FFFFFF;
display:flex;
flex-direction:row;
}
#logo{
    width:53px;
    height:80px;
    margin-left:34px;
    margin-right:19px;

}
img{
    width:95px;
    height:54px;
    background-image: url(logo.png);
    background-size:cover;
}
#men{
    width:62px;
    height:78px;
    margin-left:15px;

}
.men{
    display:flex;
    justify-content:center;
    align-items:center;
    width:62px;
    height:21px;
    font-size:14px;
    font-family: Assistant,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
}
#men:hover{
    border-bottom: 3px solid red;
}
#women{
    width:84px;
    height:78px;
    margin-left:4px;

}
.women{
    display:flex;
    justify-content:center;
    align-items:center;
    width:84px;
    height:21px;
    font-size:14px;
    font-family: Assistant,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
}
#women:hover{
    border-bottom: 3px solid rgb(225, 91, 113);
}
#kids{
    width:64px;
    height:78px;
    margin-left:3px;


}
.kids{
    display:flex;
    justify-content:center;
    align-items:center;
    width:64px;
    height:21px;
    font-size:14px;
    font-family: Assistant,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
}
#kids:hover{
    border-bottom: 3px solid rgb(219, 156, 40);
}
#home{
    width:131px;
    height:78px;
    margin-left:5px;
    

}
.home{
    display:flex;
    justify-content:center;
    align-items:center;
    width:131px;
    height:21px;
    font-size:14px;
    font-family: Assistant,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
}
#home:hover{
    border-bottom: 3px solid rgb(177, 177, 54);
}
#beauty{
    width:84px;
    height:78px;
    margin-left:3px;
    

}
.beauty{
    display:flex;
    justify-content:center;
    align-items:center;
    width:84px;
    height:21px;
    font-size:14px;
    font-family: Assistant,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
}
#beauty:hover{
    border-bottom: 3px solid teal;
}
#studio{
    width:90px;
    height:78px;
   

}
.studio{
    display:flex;
    justify-content:center;
    align-items:center;
    width:90px;
    height:21px;
    font-size:14px;
    font-family: Assistant,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
    margin-bottom:3px;
}
#studio:hover{
    border-bottom: 3px solid red;
}
sup{
    font-weight:560;
    color:red;
}
.navbseritems{
    display:flex;
    align-items:center;
}
.searchbar{
    display:flex;
    flex-direction:row;

}
input{
    width:325px;
    height:39px;
    background-color:#F5F5F6;
    border:none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    

}
#sico{
    width:41px;
    height:41px;
    background-color:#F5F5F6;
    display:flex;
    justify-content:center;
    align-items:center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    margin-left:35px;
    
}
placeholder{
    font-family: Assistant,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
    text-align:center;
}
.navbendp{
    display:flex;
    flex-direction:row;
    display:flex;
    align-items:center;
}
#proico{
    width:24px;
    height:24px;
    display:flex;
    justify-content:center;
    align-items:center;
    margin-left:6px;
   
}
#protex{
    width:35px;
    height:16px;
    font-size:12px;
    font-family: Assistant,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
    
}
#wishico{
    width:24px;
    height:24px;
    display:flex;
    justify-content:center;
    align-items:center;
    margin-left:8px;
}
#wishtex{
    width:35px;
    height:16px;
    font-size:12px;
    font-family: Assistant,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
}
#bico{
    width:24px;
    height:24px;
    display:flex;
    justify-content:center;
    align-items:center;
     
}
#btex{
    width:35px;
    height:16px;
    font-size:12px;
    font-family: Assistant,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
}
.navendp{
    display:flex;
    align-items:center;
}
#profile{
    margin-left:36px;
}
.justfy{
    height:78px;
}
#wishl{
    margin-left:26px;
}
#bag{
    margin-left:33px;
}




